body {
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    /* background-color: rgb(5, 30, 40); */
    background-color: black;
    color: white;

}

.hidden {
    display: none;
}

.headings {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 3.5rem;
    color: goldenrod;
    animation: fadeIn;
    animation-duration: 2s;

}

.para {
    text-align: center;
    animation: bounceInDown;
    animation-duration: 2s;
    line-height: 1.5rem;
    
}

h1 {
    text-align: center;
    color: rgb(137, 148, 163);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

code {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(37, 111, 194);

}

.heading {
    text-align: center;
    animation: fadeInLeft;
    animation-duration: 2s;
    cursor: pointer;
}
#star {
    text-align: center;
    color: wheat;
}

#field {

    border-radius: 7px;
    width: 50%;
    margin: 10px auto;
    border: 3px;
    padding: 20px;
    border-style: solid;
    border-top-color: darkred;
    border-left-color: darkcyan;
    border-right-color: darkblue;
    border-bottom-color: darkgoldenrod;
    margin-top: 50px;
}

#h1{
    color: rgb(37, 111, 194);
}

button {
    background-color: darkred;
    width: 100px;
    height: 25px;
    border: 2px;
    border-style: solid;
    border-radius: 20%;
    border-color: darkred;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: black;
}

#userage {
    width: 150px;
    height: 20px;
    cursor: pointer;
}

.age {
    margin-top: 10px;
    animation: fadeIn;
    animation-duration: 2s;
    color: white;
}

